<div class="block teaching">
  <h2>CHIFEWD7</h2>
  <nav class="teaching-navigation">
    <ul>
      <li>
        <a href="#lesson-1">Lesson 1</a>
      </li>
      <li>
        <a href="#lesson-2">Lesson 2</a>
      </li>
      <li class="afk">
        <a href="#lesson-3">Lesson 3</a>
      </li>
      <li>
        <a href="#lesson-4">Lesson 4</a>
      </li>
    </ul>
  </nav>
  <hr>
  
  <div class="sub-block" id="lesson-1">
    <h3><strong>Lesson 1:</strong> HTML Basics</h3>
    <h4>Code Along + Slides</h4>
    <ul>
      <li>
        <a href="<%= current_page.url %>lesson1/starter_code.zip" target="_blank">Download Code Along</a>
      </li>
      <li>
        <a href="<%= current_page.url %>lesson1/lesson1_slides.pdf" target="_blank">Download Slides</a>
      </li>
    </ul>

    <!--<h4>Solutions</h4>
    <ul>
      <li>
        <a href="http://teaching.eboyer.io/CHIFEWD7" target="_blank">GA Press Release Solution [LIVE]</a>
      </li>
      <li>
        <a href="http://teaching.eboyer.io/CHIFEWD7" target="_blank">Cookie Recipe [LIVE]</a>
      </li>
    </ul>-->

    <h4>Resources</h4>
    <ul>
      <li><a href="https://www.google.com/chrome/browser/desktop/" target="_blank">Google Chrome</a></li>
      <li><a href="https://www.sublimetext.com/3" target="_blank">Sublime Text 3</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element" target="_blank">Mozilla HTML Element Reference</a></li>
      <li><a href="http://learn.shayhowe.com/" target="_blank">http://learn.shayhowe.com/</a></li>
    </ul>

    <h4>Inspiration</h4>
    <ul>
      <li><a href="http://snowbird.com" target="_blank">Snowbird</a></li>
    </ul>
  </div>

  <div class="sub-block" id="lesson-2">
    <h3><strong>Lesson 2:</strong> CSS Basics</h3>
    <h4>Code Along + Slides</h4>
    <ul>
      <li>
        <a href="<%= current_page.url %>lesson2/starter_code.zip" target="_blank">Download Starter Code</a>
      </li>
      <li>
        <a href="<%= current_page.url %>lesson2/lesson2_slides.pdf" target="_blank">Download Slides</a>
      </li>
    </ul>

    <h4>Resources</h4>
    <ul>
      <li><a href="https://www.sublimetext.com/3" target="_blank">Sublime Text 3</a></li>
      <li><a href="https://packagecontrol.io/installation" target="_blank">Sublime - Package Control</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element" target="_blank">Mozilla HTML Element Reference</a></li>
      <li><a href="http://learn.shayhowe.com/" target="_blank">http://learn.shayhowe.com/</a></li>
      <li><a href="http://codepen.io/" target="_blank">CodePen</a></li>
      <li><a href="http://dev.w3.org/html5/html-author/charref" target="_blank">HTML Entity Codes</a></li>
      <li><a href="http://just_color_picker.en.softonic.com/" target="_blank">Windows Color Picker (Just Color Picker)</a></li>
      <li><a href="https://itunes.apple.com/us/app/sip/id507257563?mt=12" target="_blank">Mac Color Picker (Sip)</a></li>
      <li><a href="http://rogerdudler.github.io/git-guide/" target="_blank">Git Guide</a></li>
      <li><a href="http://rogerdudler.github.io/git-guide/files/git_cheat_sheet.pdf" target="_blank">Git Guide - Cheat Sheet</a></li>
    </ul>

    <h4>Inspiration</h4>
    <ul>
      <li><a href="http://www.animalmade.com/" target="_blank">Animal</a></li>
      <li><a href="http://tympanus.net/Development/Animocons/" target="_blank">Animated Icons with mo.js</a></li>
    </ul>
  </div>

  <div class="sub-block" id="lesson-3">
    <h3 class="afk"><strong>Lesson 3:</strong> Box Model [Eric AFK]</h3>
    <h4>Resources</h4>
    <ul>
      <li><a href="https://validator.w3.org/" target="_blank">HTML Validator</a></li>
      <li><a href="http://csslint.net/" target="_blank">CSS Lint</a></li>
      <li><a href="https://developers.google.com/fonts/docs/getting_started/" target="_blank">Google Fonts</a></li>
      <li><a href="http://www.dwuser.com/education/content/quick-tip-adding-a-favicon-to-your-website/" target="_blank">Adding a 'favicon' to your site</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes/" target="_blank">CSS Pseudo Classes</a></li>
    </ul>

    <h4>Inspiration</h4>
    <ul>
      <li><a href="http://sins.nfb.ca/" target="_blank">Seven Digital Deadly Sins</a></li>
      <li><a href="http://species-in-pieces.com/" target="_blank">Species in Pieces</a></li>
    </ul>
  </div>

  <div class="sub-block" id="lesson-4">
    <h3><strong>Lesson 4:</strong> Layout</h3>
    <h4>Code Along + Slides</h4>
    <ul>
      <li>
        <a href="<%= current_page.url %>lesson4/travel_blog.png" target="_blank">Download Starter IMG</a>
      </li>
      <li>
        <a href="<%= current_page.url %>lesson4/lesson4_slides.pdf" target="_blank">Download Slides</a>
      </li>
    </ul>

    <h4>Resources</h4>
    <ul>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing" target="_blank">Mastering Margin Collapsing</a></li>
      <li><a href="http://stackoverflow.com/questions/2189452/when-to-use-margin-vs-padding-in-css" target="_blank">Margin vs. Padding in CSS</a></li>
      <li><a href="http://www.smashingmagazine.com/2011/12/an-introduction-to-object-oriented-css-oocss/" target="_blank">Intro to Object Oriented CSS</a></li>
      <li><a href="http://www.typingstudy.com/" target="_blank">Learn to type faster</a></li>
      <li><a href="http://docs.emmet.io/cheat-sheet/" target="_blank">EMMET Cheat Sheet</a></li>
      <li><a href="http://html5doctor.com/downloads/h5d-sectioning-flowchart.pdf" target="_blank">HTML5 Element Flowchart</a></li>
      <li><a href="http://specificity.keegan.st/" target="_blank">Specificity Calculator</a></li>
      <li><a href="https://blog.generalassemb.ly/sublime-text-3-tips-tricks-shortcuts/" target="_blank">Sublime Text 3 Tips</a></li>
      <li><a href="https://chrome.google.com/webstore/detail/tape/jmfleijdbicilompnnombcbkcgidbefb" target="_blank">Tape for Google Chrome</a></li>
    </ul>

    <h4>Inspiration</h4>
    <ul>
      <li><a href="http://rafsimons.com/" target="_blank">RAF SIMONS</a></li>
      <li><a href="http://www.cmap.illinois.gov/mobility/explore#/" target="_blank">CMAP Mobility</a></li>
      <li><a href="https://www.cleverfranke.com/" target="_blank">Clever Franke</a></li>
    </ul>
  </div>

  <div class="sub-block" id="lesson-5">
    <h3><strong>Lesson 5:</strong> Layout</h3>
    <h4>Code Along + Slides</h4>
    <ul>
      <li>
        <a href="<%= current_page.url %>lesson5/lesson5_starter_code.zip" target="_blank">Download Starter Code</a>
      </li>
      <li>
        <a href="<%= current_page.url %>lesson5/lesson5_slides.pdf" target="_blank">Download Slides</a>
      </li>
    </ul>

    <h4>Solutions</h4>
    <ul>
      <li>
        <a href="<%= current_page.url %>lesson5/solution_positioning_fun.zip" target="_blank">"Positioning Fun"</a>
      </li>
      <li>
        <a href="<%= current_page.url %>lesson5/solution_travel_blog.zip" target="_blank">Travel Blog [TBD]</a>
      </li>
    </ul>

    <h4>Resources</h4>
    <ul>
      <li><a href="http://learn.shayhowe.com/html-css/positioning-content/" target="_blank">Shay Howe - Positioning Content</a></li>
      <li><a href="http://alistapart.com/article/css-positioning-101" target="_blank">A List Apart - CSS Positioning 101</a></li>
    </ul>

    <h4>Inspiration</h4>
    <ul>
      <!-- <li><a href="http://www.animalmade.com/" target="_blank">Animal</a></li> -->
    </ul>
  </div>

  <!--<div class="sub-block" id="lesson-16">
    <h3><strong>Lesson 16:</strong> Responsive Basics</h3>
    <h4>Code Along + Slides</h4>
    <ul>
      <li>
        <a href="http://teaching.eboyer.io/FEWD_Fall_2015/FEWD_Lesson_16.zip" target="_blank">Download</a>
      </li>
    </ul>

    <h4>Solutions</h4>
    <ul>
      <li>
        <a href="http://teaching.eboyer.io/FEWD_Fall_2015/FEWD_Lesson_16/boxes_1_solution/" target="_blank">Boxes 1 Solution [LIVE]</a>
      </li>
      <li>
        <a href="http://teaching.eboyer.io/FEWD_Fall_2015/FEWD_Lesson_16/boxes_2_solution/" target="_blank">Boxes 2 Solution [LIVE]</a>
      </li>
      <li>
        <a href="http://teaching.eboyer.io/FEWD_Fall_2015/FEWD_Lesson_16/boxes_3_solution/" target="_blank">Boxes 3 Solution [LIVE]</a>
      </li>
    </ul>

    <h4>Resources</h4>
    <ul>
      <li><a href="http://learn.shayhowe.com/advanced-html-css/responsive-web-design/" target="_blank">http://learn.shayhowe.com/advanced-html-css/responsive-web-design/</a></li>
      <li><a href="http://stephencaver.com/" target="_blank">http://stephencaver.com/</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/@media" target="_blank">https://developer.mozilla.org/en-US/docs/Web/CSS/@media</a></li>
      <li><a href="http://bradfrost.github.io/this-is-responsive/" target="_blank">http://bradfrost.github.io/this-is-responsive/</a></li>
      <li><a href="http://mediaqueri.es/" target="_blank">http://mediaqueri.es/</a></li>
      <li><a href="https://css-tricks.com/css-media-queries/" target="_blank">https://css-tricks.com/css-media-queries/</a></li>
    </ul>
  </div>

  <div class="sub-block" id="lesson-17">
    <h3><strong>Lesson 17:</strong> Cont. Responsive + Lab</h3>
    <h4>Code Along + Lab + Slides</h4>
    <ul>
      <li>
        <a href="http://teaching.eboyer.io/FEWD_Fall_2015/FEWD_Lesson_17.zip" target="_blank">Download</a>
      </li>
      <li>
        <a href="http://teaching.eboyer.io/FEWD_Fall_2015/FEWD_Lesson_17/startup_matchmaker_solution.zip" target="_blank">Responsive Startup Matchmaker Solution [DOWNLOAD]</a>
      </li>
    </ul>

    <h4>Solutions</h4>
    <ul>
      <li>
        <a href="http://teaching.eboyer.io/FEWD_Fall_2015/FEWD_Lesson_17/boxes_4_solution/" target="_blank">Boxes 4 Solution [LIVE]</a>
      </li>
      <li>
        <a href="http://teaching.eboyer.io/FEWD_Fall_2015/FEWD_Lesson_17/startup_matchmaker_solution/" target="_blank">Responsive Startup Matchmaker Solution [LIVE]</a>
      </li>
    </ul>

    <h4>Resources</h4>
    <ul>
      <li><a href="https://j.eremy.net/confused-about-rem-and-em/" target="_blank">https://j.eremy.net/confused-about-rem-and-em/</a></li>
      <li><a href="http://pxtoem.com/" target="_blank">http://pxtoem.com/</a></li>
      <li><a href="https://css-tricks.com/rems-ems/" target="_blank">https://css-tricks.com/rems-ems/</a></li>
      <li><a href="https://www.youtube.com/watch?v=eOvHZDGK-kY" target="_blank">What a great snack!</a></li>
    </ul>
  </div>

  <div class="sub-block" id="lesson-17">
    <h3>Wordpress</h3>
    <h4>Resources</h4>
    <ul>
      <li>
        <a href="https://www.wordpress.com" target="_blank">Wordpress.com - Hosted blogging platform</a>
      </li>
      <li>
        <a href="https://www.wordpress.org" target="_blank">Wordpress.org - Self-hosted blogging platform</a>
      </li>
      <li>
        <a href="https://www.mamp.info/en/" target="_blank">MAMP - Host/manage your websites locally (Mac &amp; PC)</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="https://developer.wordpress.org/themes/basics/template-hierarchy/" target="_blank">Wordpress Template Hierarchy</a>
      </li>
      <li>
        <a href="http://underscores.me/" target="_blank">Underscores - A starter WP theme to use as a base for your projects</a>
      </li>
      <li>
        <a href="https://wordpress.org/plugins/more-types/" target="_blank">More Types - Plugin to create additional post types</a>
      </li>
      <li>
        <a href="http://www.advancedcustomfields.com/" target="_blank">Advanced Custom Fields - Plugin for added more fields to your posts, pages, and custom post types</a>
      </li>
    </ul>

    <h4>Code</h4>
    <ul>
      <li>
        <a href="http://teaching.eboyer.io/Code/sweetsnacks-complete" target="_blank">Sweetsnacks Static Site [LIVE]</a>
      </li>
      <li>
        <a href="http://teaching.eboyer.io/Code/sweetsnacks-complete.zip" target="_blank">Sweetsnacks Static Site [CODE]</a>
      </li>
    </ul>
  </div>-->
</div><!-- /.block -->
